.header-bg {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-height: 1080px; }
  .header-bg__image {
    position: absolute;
    z-index: -1; }
  .header-bg__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header-bg__title {
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-top: 420px; }
    .header-bg__title span {
      color: #14c3dc; }
  .header-bg__text {
    color: #fcfcfc; }
  .header-bg__line {
    width: 100px;
    height: 2px;
    background: #14c3dc; }

.main-button {
  padding: 15px 25px;
  background: #fff;
  border: none;
  color: black;
  margin-top: 20px;
  margin-bottom: 320px; }
  .main-button:hover {
    background: #14c3dc;
    color: #fff; }
  .main-button__text {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Raleway', sans-serif; }

.top-nav {
  background-color: #272727;
  padding: 15px 0; }
  .top-nav__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .top-nav__contacts a {
      text-decoration: none;
      color: #fff;
      margin-right: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .top-nav__contacts a:hover {
        color: #138fa1; }
      .top-nav__contacts a img {
        margin-right: 10px; }
  .top-nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .top-nav__social a {
    margin-right: 10px; }

.bottom-nav {
  background-color: #121212; }
  .bottom-nav__logo {
    padding: 37px 0; }
  .bottom-nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  .menu-list__link {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    text-transform: uppercase; }
    .menu-list__link:hover {
      color: #138fa1; }

.welcome {
  margin-top: 60px; }
  .welcome-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .welcome-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%; }
    .welcome-block__image {
      margin-right: 23px; }
    .welcome-block__title {
      margin: 0;
      font-size: 15px;
      text-transform: uppercase;
      color: black;
      font-weight: 700; }
    .welcome-block__text {
      margin: 26px 0;
      font-size: 14px; }
  .welcome-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .welcome-description__text {
      margin-top: 30px; }
    .welcome-description__left {
      padding-right: 40px; }
    .welcome-description__title {
      font-size: 30px;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      color: #000000;
      font-weight: bold;
      margin-top: 52px; }
    .welcome-description__button {
      font-size: 13px;
      padding: 14px 25px;
      background-color: black;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      margin-top: 40px; }
      .welcome-description__button:hover {
        background-color: #1a1a1a; }
    .welcome-description__image {
      -webkit-box-shadow: 10px 10px 10px #e28573;
      box-shadow: 10px 10px 10px #e28573; }
    .welcome-description__line {
      display: block;
      height: 2px;
      background: black;
      width: 37px;
      margin: 25px 0; }

body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #787878; }

.container {
  max-width: 1172px;
  margin: 0 auto; }

@media (max-width: 1200px) {
  .container {
    padding: 0 15px; }
  .header-bg__title {
    font-size: 60px; }
  .welcome-block {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%; } }

@media (max-width: 980px) {
  .header-bg {
    background-image: url(../img/header-bgsmall.png); }
    .header-bg__title {
      font-size: 50px; }
  .welcome-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .welcome-description__title {
      text-align: center; } }
